/*--------------------------------------------------------------
  # Start contact page
--------------------------------------------------------------*/

.contact_page {
    padding: 120px 0;
    .contact_wrap {
        padding: 40px;
        background: #fff;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        .contact_info {
            background: #fff;
            display: flex;
            align-items: center;
            .contact_icon {
                background: #fbfaf7;
                font-size: 35px;
                text-align: center;
                line-height: 77px;
                width: 80px;
                height: 80px;
                margin-inline-end: 20px;
                color: $mainColor;
                border: 1px solid #f7f7f7;
                border-radius: 10px;
            }
            .contact_text {
                width: calc(100% - 100px);
                h4 {
                    font-size: 20px;
                    margin-bottom: 5px;
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                p {
                    font-size: 15px;
                    line-height: 25px;
                    margin-bottom: 0;
                }
            }
        }
        .main-btn {
            display: inline-flex;
            align-items: center;
            font-size: 16px;
            i {
                font-size: 22px;
                margin-inline-end: 10px;
            }
        }
    }
}

.contact_form input,
.contact_form textarea,
.contact_form select {
    margin-bottom: 30px;
}

input,
textarea,
select {
    width: 100%;
    height: 45px;
    background-color: #fbfaf7;
    border: 1px solid transparent;
    padding: 0px 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border: 2px solid #f7f7f7;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    outline: none;
    &:hover,
    &:focus {
        border-color: $mainColor;
    }
}

.contact_form textarea {
    height: 150px;
    padding: 16px;
}

.contact_map {
    height: 515px;
    iframe {
        height: 515px;
        width: 100%;
        border: 0;
    }
}


/*--------------------------------------------------------------
  # End contact page
--------------------------------------------------------------*/