/*--------------------------------------------------------------
# Start Job Pages
--------------------------------------------------------------*/

.jobs_page {
    padding: 80px 0;
    .job_listings {
        .job_filters {
            display: flex;
            align-items: center;
            padding: 20px;
            background: #f2f2f2;
            border-radius: 5px;
            .search_jobs {
                margin-inline-end: 15px;
                width: 30%;
                input {
                    outline: none;
                    box-shadow: none;
                }
            }
            .main-btn {
                border: 0;
            }
        }
        .jobs_content {
            margin-top: 30px;
            .type-job_listing {
                border-bottom: 1px solid #eee;
                transition: .3s;
                &:nth-of-type(even) {
                    background: #f2f2f2;
                }
                &:hover {
                    background: #ddd;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1em 1em 1em 2em;
                    border: 0;
                    overflow: hidden;
                    position: relative;
                    line-height: 1.5em;
                    text-decoration: none;
                }
                .details {
                    display: flex;
                    align-items: center;
                    flex: 55%;
                    max-width: 55%;
                }
                .company_logo {
                    width: 42px;
                    height: 42px;
                    margin-inline-end: 1em;
                    vertical-align: middle;
                    box-shadow: none;
                }
                .position {
                    h3 {
                        margin: 0;
                        padding: 0;
                        line-height: inherit;
                        font-size: inherit;
                        font-weight: 700;
                    }
                    .company {
                        color: #999;
                    }
                }
                .location {
                    flex: 25%;
                    max-width: 25%;
                    color: #999;
                }
                .meta {
                    width: 20%;
                    color: #999;
                    text-align: end;
                    .job-type {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .part-time {
        color: #f08d3c;
    }
    .full-time {
        color: #90da36;
    }
    .internship {
        color: #6033cc;
    }
}

.single_job_page {
    .info_job {
        position: relative;
        box-shadow: 0 0 32px 0 rgb(26 47 106 / 8%);
        border-radius: 6px;
        overflow: hidden;
        .inner {
            padding: 15px 30px;
            word-wrap: break-word;
            .meta {
                list-style: none outside;
                padding: 0;
                margin: 20px 0;
                overflow: hidden;
                clear: both;
                .full-time {
                    background-color: #90da36;
                }
                .job-type {
                    color: #fff;
                }
                li {
                    margin-inline-end: 15px;
                    padding: .5em;
                    display: inline-block;
                    line-height: 1em;
                    color: #999;
                    i {
                        margin-inline-end: 6px;
                    }
                }
            }
            .company {
                position: relative;
                border: 1px solid #eee;
                padding: 1em;
                margin: 0 0 2em;
                display: block;
                clear: both;
                min-height: 3em;
                box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
                box-sizing: content-box;
                display: flex;
                align-items: center;
                img {
                    width: 3em;
                    height: 3em;
                    vertical-align: middle;
                    box-shadow: none;
                    margin-inline-end: 10px;
                }
                .name {
                    margin-inline-end: 3em;
                    padding-inline-end: 1em;
                    line-height: 1.5em;
                    margin: 0;
                }
            }
            .main-btn {
                text-transform: uppercase;
                font-size: 19px;
                padding: 10px 50px;
            }
        }
    }
}

.side_left {
    .widget {
        padding-inline-start: 15px;
        margin-bottom: 30px;
        .widget-title {
            margin-bottom: 35px;
            position: relative;
            padding-bottom: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, .09);
            position: relative;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 0;
            color: #0c121d;
            text-transform: none;
            font-weight: 800;
            font-style: normal;
            &:after {
                display: block;
                height: 2px;
                margin-top: 0;
                margin-bottom: -2px;
                content: '';
                position: absolute;
                bottom: 0;
                right: 1px;
                width: 50px;
                background-color: $mainColor;
            }
        }
        li {
            padding: 0 0 15px 0;
            display: flex!important;
            align-items: normal;
            width: 100%;
            margin-top: 0;
            padding-top: 0;
            border-top: none;
            a {
                margin-inline-end: 15px;
                font-weight: 700;
                color: #0c121d;
                img {
                    width: 75px;
                    height: 75px;
                }
            }
        }
        .cspt-rpw-date {
            line-height: 17px;
            display: block;
            color: $thirdColor;
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;
            a {
                color: $thirdColor;
            }
        }
    }
    .search-form {
        position: relative;
        input[type="search"] {
            height: 58px;
            line-height: 58px;
            border: 1px solid #ececec;
            background-color: #fff;
            padding-inline-end: 90px;
            display: block;
            width: 100%;
            font-size: 16px;
            color: #848484;
            padding: 0 15px;
            font-weight: 400;
            background: #eff2f7;
            border-radius: 5px;
            transition: all 500ms ease;
        }
        button {
            position: absolute;
            left: 0;
            padding: 0;
            border: none;
            outline: none;
            background-color: $mainColor;
            top: 50%;
            height: 58px;
            line-height: 58px;
            margin-top: -29px;
            color: #fff;
            font-size: 16px;
            z-index: 1;
            width: 70px;
            border-radius: 6px;
        }
    }
}


/*--------------------------------------------------------------
# End Job Pages
--------------------------------------------------------------*/

@media(max-width:991.98px) {
    .jobs_page .job_listings .job_filters .search_jobs {
        width: 100%;
    }
    .single_job_page .info_job {
        margin-bottom: 50px;
    }
}

@media(max-width:767.98px) {
    .jobs_page .job_listings .jobs_content .type-job_listing a {
        display: block;
        text-align: center;
        .details {
            display: block;
            flex: 100%;
            max-width: 100%;
            margin-bottom: 15px;
            .company_logo {
                margin-inline-end: 0;
                margin-bottom: 10px;
            }
        }
        .location {
            flex: 100%;
            max-width: 100%;
            margin-bottom: 15px;
        }
        .meta {
            width: 100%;
            text-align: center;
        }
    }
    .single_job_page .info_job .inner .meta li {
        display: table;
        margin-bottom: 8px;
    }
}

@media(max-width:575.98px) {
    .single_job_page .info_job .inner {
        padding: 15px;
    }
}