@import 'scss/helpers/variables';
@import 'scss/helpers/mixin';
@import 'scss/components/general';
@import 'scss/layout/navtop';
@import 'scss/layout/navbar';
@import 'scss/layout/page_header';
@import 'scss/pages/homePage';
@import 'scss/pages/about';
@import 'scss/layout/footer';
@import 'scss/components/work_box';
@import 'scss/components/Plugins';
@import 'scss/components/buttons';
@import 'scss/components/owlCarousel_settings';
@import 'scss/components/headings';
@import 'scss/components/search-popup';