/*********** Start buttons ************/

.main-btn {
    padding: 10px 30px;
    color: #fff;
    transition: .3s;
    display: inline-block;
    .fa-plus {
        margin-inline-end: 10px;
    }
    &.main {
        background: linear-gradient(180deg, rgba(56, 174, 117, 1) 0%, rgba(101, 184, 216, 1) 100%);
        border-radius: 50px;
        padding: 7px 40px;
        font-size: 14px;
        font-family: $Tajawal;
        text-align: center;
        &:hover {
            background: linear-gradient(0deg, rgba(56, 174, 117, 1) 0%, rgba(101, 184, 216, 1) 100%);
            color: #fff !important;
        }
    }
    &.trans {
        border: 1px solid $mainColor;
        color: $mainColor;
        border-radius: 50px;
        padding: 7px 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:hover {
            color: #fff;
            background-color: $mainColor;
        }
    }
    &.animated {
        display: inline-block;
        font-size: 15px;
        font-family: play, sans-serif;
        font-weight: 700;
        padding: 14px 32px 12px;
        color: #fff;
        text-transform: capitalize;
        position: relative;
        z-index: 1;
        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 30px;
            width: 30px;
            border-left: 2px solid $mainColor;
            border-top: 2px solid $mainColor;
            z-index: -1;
            @include prifixer(transition, all .7s, webkit o);
        }
        &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 30px;
            width: 30px;
            border-right: 2px solid $mainColor;
            border-bottom: 2px solid $mainColor;
            content: "";
            z-index: -1;
            @include prifixer(transition, all .7s, webkit o);
        }
        &:hover {
            color: #fff;
            &:before,
            &:after {
                width: 100%;
                height: 100%;
            }
        }
    }
}


/*********** End buttons ************/