/*start plugins*/


/*start button up*/

.up {
    position: fixed;
    right: 30px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: $mainColor;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.up:hover {
    transform: scale(1.1);
}

.up.fade {
    visibility: visible;
    opacity: 1;
    bottom: 30px;
}


/*End button up*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*Start Loading-page*/

.spin-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    .half-top {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        background: #111;
    }
    .half-bottom {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        background: #111;
    }
    .spinner {
        position: absolute;
        height: 60px;
        width: 60px;
        border: 3px solid transparent;
        border-top-color: $mainColor;
        top: 50%;
        left: 50%;
        margin: -30px;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        &:before,
        &:after {
            content: '';
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
        }
        &:before {
            border-top-color: $secColor;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            animation: spin 3s linear infinite;
        }
        &:after {
            border-top-color: #ff2561;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            animation: spin 4s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*End plugins*/