/*--------------------------------------------------------------
# Start footer top
--------------------------------------------------------------*/

.footer {
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    .footer-top {
        padding: 50px 0;
        .head {
            h4 {
                font-family: $semiBold;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 13px;
                margin-bottom: 20px;
                &:after,
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                }
                &:before {
                    left: 0;
                    background: #555;
                }
                &:after {
                    background: $mainColor;
                    width: 60px;
                }
            }
        }
        .site_info {
            .logo {
                img {
                    width: 200px;
                }
            }
            p {
                color: #D4D4D4;
                font-size: 14px;
                padding: 20px 0;
                margin-bottom: 0;
            }
            .con {
                .item {
                    display: inline-block;
                    color: #fff;
                    font-size: 14px;
                    &:first-of-type {
                        margin-inline-end: 15px;
                    }
                    i {
                        color: $mainColor;
                        margin-inline-end: 5px;
                    }
                }
            }
        }
        .map {
            border-radius: 10px;
            overflow: hidden;
            height: 75%;
            width: 80%;
        }
        a {
            color: #fff;
            font-family: $Light;
            display: block;
            margin-bottom: 7px;
            font-size: 14px;
            &:hover {
                color: $mainColor;
            }
        }
        .apps {
            .images {
                margin-top: 20px;
                img {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            .sochial {
                display: flex;
                align-items: center;
                margin-top: 20px;
                a {
                    &:not(:last-of-type) {
                        margin-inline-end: 20px;
                    }
                }
            }
        }
    }
}


/*--------------------------------------------------------------
# End footer top
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Start Copy Right
--------------------------------------------------------------*/

.copyright {
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: 0.27);
    p {
        margin: 0;
        font-size: 13px;
        padding: 20px 0;
        text-align: center;
        color: #fff;
    }
}

@media(max-width:1199.98px) {
    .copyright {
        margin-top: 0;
    }
}

@media(max-width:991.98px) {
    .footer .footer-top {
        .site_info {
            margin-bottom: 50px;
        }
        .map {
            height: 175px;
            width: 100%;
            margin-bottom: 50px;
        }
        .apps .images img {
            width: 150px;
        }
    }
}

@media(max-width:767.98px) {
    .footer .footer-top {
        .site_map {
            margin-bottom: 50px;
        }
    }
}

@media(max-width:575.98px) {
    footer {
        text-align: center;
    }
    .footer .footer-top .sochial {
        justify-content: center;
    }
    .footer .footer-top .head h4:after {
        right: 50%;
        transform: translateX(50%);
    }
}


/*--------------------------------------------------------------
# End Copy Right
--------------------------------------------------------------*/