/*--------------------------------------------------------------
# Start footer top
--------------------------------------------------------------*/

.footer {
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    .footer-top {
        padding: 50px 0;
        .head {
            h4 {
                font-family: $semiBold;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 13px;
                margin-bottom: 20px;
                &:after,
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                }
                &:before {
                    left: 0;
                    background: #555;
                }
                &:after {
                    background: $mainColor;
                    width: 60px;
                }
            }
        }
        .map {
            border-radius: 10px;
            overflow: hidden;
            height: 100%;
            width: 80%;
        }
        .site_map {
            display: flex;
            align-items: center;
            .list {
                flex: 50%;
                width: 50%;
                &:first-of-type {
                    margin-inline-end: 30px;
                }
            }
        }
        a {
            color: #fff;
            font-family: $Light;
            display: block;
            margin-bottom: 7px;
            font-size: 14px;
            &:hover {
                color: $mainColor;
            }
        }
        .sochial {
            display: flex;
            align-items: center;
            margin-top: 20px;
            a {
                &:not(:last-of-type) {
                    margin-inline-end: 20px;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
# End footer top
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Start Copy Right
--------------------------------------------------------------*/

.copyright {
    border-top: 1px solid rgba($color: #FFFFFF, $alpha: 0.27);
    p {
        margin: 0;
        font-size: 13px;
        padding: 20px 0;
        text-align: center;
        color: #fff;
    }
}

@media(max-width:1199.98px) {
    .copyright {
        margin-top: 0;
    }
}

@media(max-width:991.98px) {
    .footer .footer-top {
        .info_site,
        .site_map {
            margin-top: 50px;
        }
    }
}

@media(max-width:767.98px) {}

@media(max-width:575.98px) {
    .footer .footer-top .info_site,
    .footer .footer-top .site_map {
        text-align: center;
    }
    .footer .footer-top .sochial {
        justify-content: center;
    }
    .footer .footer-top .map {
        width: 100%;
    }
    .footer .footer-top .head h4:after {
        right: 50%;
        transform: translateX(50%);
    }
}


/*--------------------------------------------------------------
# End Copy Right
--------------------------------------------------------------*/